.terraform/
terraform/.terraform/

# Terraform state files
*.tfstate
*.tfstate.*
terraform.tfstate
terraform.tfstate.backup
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Local SSH keys used for Terraform
terraform/shamel-terra-key

# Optional local variable files
*.tfvars
*.tfvars.json

.terraform.lock.hcl
terraform/.terraform.lock.hcl
